body {
  background-color: #f2f6f9;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif !important;
}

#main-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

/* COLORS */
.bg-primary-new {
  background-color: #f2f6f9;
}

.bg-dark-new {
  background-color: #082f39;
}

.bg-medium-new {
  background-color: #2187ad;
}

.bg-light-new {
  background-color: #9bdaf5;
}

.bg-white-new {
  background-color: #fefefe;
}

.box-shadow-new {
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.text-dark-new {
  color: #082f39;
}

.text-medium-new {
  color: #2187ad;
}

.text-light-new {
  color: #9bdaf5;
}

/* NAVBAR */
.nav-link:hover {
  color: #39a5cc !important;
}

/* CONTACT FORM */
.btn-primary-new {
  background-color: transparent;
  color: #2187ad;
  border: 1px solid #2187ad;
  border-radius: 5px;
  transition: background-color 0.15s;
}

.btn-primary-new:hover {
  background-color: #2187ad;
  color: #fefefe;
}

/* FOOTER */
/* #main-footer {
  padding-top: 175px !important;
  margin-top: -150px !important;
}

#secondary-footer {
  padding-top: 10px !important;
  margin-top: 10px !important;
} */

.arrow-square {
  margin-bottom: -2px;
}

/* EXTENDED MAGINS */
.extend-pb {
  padding-bottom: 225px !important;
}

.extend-mt {
  margin-top: -200px !important;
}

/* REMOVE DEFAULT PADDING */
no-padding {
  padding: 0px !important;
}

/* PORTFOLIO ITEM OVERLAY */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #082f39;
  z-index: 1;
}

.overlay:hover {
  transition: 0.5s ease;
  opacity: 1;
  /* background-color: #082f39; */
  background-color: rgba(8, 47, 57, 0.8);
}

#portfolio-item-1 {
  position: relative;
  width: 400px;
  height: 250px;
  background: url('./images/F1-Medium.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

#portfolio-item-2 {
  position: relative;
  width: 400px;
  height: 250px;
  background: url('./images/BB-medium.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

#portfolio-item-3 {
  position: relative;
  width: 400px;
  height: 250px;
  background: url('./images/MM-medium.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.portfolio-icon:hover {
  transition: 0.2s ease;
  color: #39a5cc !important;
  opacity: 1;
}
