body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* COLORS */
.bg-primary-new {
  background-color: #f2f6f9;
}

.bg-dark-new {
  background-color: #082f39;
}

.bg-medium-new {
  background-color: #2187ad;
}

.bg-light-new {
  background-color: #9bdaf5;
}

.bg-white-new {
  background-color: #fefefe;
}

.box-shadow-new {
  box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.text-dark-new {
  color: #082f39;
}

.text-medium-new {
  color: #2187ad;
}

.text-light-new {
  color: #9bdaf5;
}

/* EXTENDED MAGINS */
.extend-pb {
  padding-bottom: 300px !important;
}

.extend-div {
  height: 10rem;
}

.extend-mt {
  margin-top: -10rem !important;
}

/* NAVBAR */

.nav-link:hover {
  color: #2187ad !important;
}
